<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sign-up</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="path/to/your/stylesheet.css">
<head>
    <title>DjangoCDACPortal</title>
</head>
<body bgcolor="lightblue"><center>
    <h4>Simple Python Django Project </h4>
    <header>
      <img src="https://cdac.in/img/C-DAC.jpg" alt="CDAC Logo" width="150" height="100">
      <h1>Your Website Header</h1>

  </header>
    <h3>Welcome to DjangoCDACPortal </h3>
    <br><br>
    <nav class="navbar navbar-light bg-light" >
    <a href="static/Admission_booklet.pdf">CDAC</a>
        
        <form class="form-inline">
          <div class="input-group">
            <div class="input-group-prepend">
              
            </div>
            <input type="text" class="form-control" placeholder="Enter Your PRN Number" >
            <br><br>
            <button class="navbar-brand"><a href="/login">log In</a></button>
            </div>
            <br><br>
          <button class="btn btn-outline-success" ><a href="/contact"> Contact Informations</a></button>
<br><br>
          <button class="btn btn-outline-secondary"><a href="/course">Go to Courses info</a></button>

        </form>
    </div>
      </nav>


    <!-- {% comment %} variable value is <b>{{variable1}}</b>
    variable value is <b>{{variable2}}</b>
    <p>{% lorem 4 b random %}
    </p> {% endcomment %} -->
</center> 
</body>
</html>